@import '~/styles/vars'

.education
    height: 90vh
    &-column
    // background-color: red
    // border: 1px solid blue

    &-charge
        // background-color: red
    color: red
    margin-top: 0

.ui.basic.segment.career-charge
    // border: 1px solid blue
    margin-top: 0

.ui.grid    
    margin-bottom: 2em