@import '~/styles/vars'
// @import url(http://fonts.googleapis.com/css?family=Open\+Sans:400,700,400italic)
body
  width: $page-width
  max-width: $page-max-width
  margin: auto
  text-align: center
  font-family: 'Open Sans', sans-serif;

h1
  padding: 0.5em
  font-size: 4em
  font-weight: bold
  color: $text-color
  color-adjust: economy
