/* Colors */

//nav
$navBackGround = #485C67
$navShadow = 0px 7px 16px -6px rgba(0,0,0,0.60)

// all pages
$pagesBkg = lightgrey

//home
$homeFirstRowBkg = #506874

// page title
$pageTitleColor = white

// nav
$linkColor = white
$linkHoverColor = LawnGreen 
$linkActiveColor = LawnGreen 
$linkActiveBkgColor = #3b4d56

$timeLineColor = green 

// old style
$text-color = #a65
$slide1-color = linear-gradient(to top, #21224D 50%, #5B2557 100%)
$slide2-color = linear-gradient(to top, #add8e6 0%,#21224d 100%);
$page-gradient = linear-gradient(45deg, #A19F9F 0%, #C2C0C0 15%, #E6E3E3 50%, #FFFFFF 100%)
$cardBeforColor = #506874

// Geometry
$page-width = 100%
$page-max-width = 100%

$triangle = 1px
$triangleRight = 50%
$trianglePos = $triangleRight - $triangle

// boxes
$box-width = 300px
$box-height = 250px

$box-pos-even-top = 20px
$box-pos-even-left = 20px

$box-pos-odd-top = 10px
$box-pod-odd-left = 340px