// Colors
$text-color = #a65
$slide1-color = linear-gradient(to top, #21224D 50%, #5B2557 100%)
$slide2-color = linear-gradient(to top, #add8e6 0%,#21224d 100%);
$page-gradient = linear-gradient(45deg, #A19F9F 0%, #C2C0C0 15%, #E6E3E3 50%, #FFFFFF 100%)

// Geometry
$page-width = 100%
$page-max-width = 100%

// boxes
$box-width = 300px
$box-height = 250px

$box-pos-even-top = 20px
$box-pos-even-left = 20px

$box-pos-odd-top = 10px
$box-pod-odd-left = 340px