@import '~/styles/vars'

.experiences
    // background: $page-gradient
    background-color: $pagesBkg
    height: 140vh
    width: 100%

    &-row1
        width: 100%
        margin: auto
        background-color $homeFirstRowBkg
        height: 20vh
        text-align: center
        box-shadow: $navShadow  

    &-h1
        padding-top: 1em    

    &-wrapper
        width: 930px
        position: relative
        margin: auto 
        text-align: center
        margin-top: 1em
    &-timeline     
        position: absolute
        width: 2px
        height 90vh
        left: auto
        right: auto
        top: 0px
        background-color: $timeLineColor
        content: ' '
    // &-bullet
    //     position: absolute
    //     // left: 10px
    //     // right: "calc(%s - %s)" % (trianglePos triangle)
    //     // right: "%s" % $trianglePos
    //     right 49.20%
    //     top: 0px
    //     width: 12px;
    //     height: 12px;
    //     background: blue; 
    //     border-radius: 70px; 
    //     content: ' '        