@import '~/styles/vars'

.experiences
    background: $page-gradient
    height: 100vh
    &-wrapper
        width: 60vw
        position: relative
        margin: auto
    &-timeline     
        position: absolute
        width: 10px
        height 80vh
        left: auto
        right: auto
        top: 50px
        color: #e8676b
        background-color: #e8676b
        content: ' '