@import '~/styles/vars'

.nav
    margin: auto
    justify-content: center
    background-color: white
    &-link
        font-size: 1em
        color:  black
        font-family: 'Acme', sans-serif;

        &-active
            color: red

.ui.text.menu .active.item
    color: #BD6F44
    border-bottom: 1px solid #BD6F44
    font-weight bolder

