@import '~/styles/vars'

.nav
    margin: auto
    justify-content: center
    background-color: white
    &-link
        font-size: 0.9em
        color:  black
        font-family: 'Open Sans', sans-serif;
        // font-family: Verdana, Geneva, Tahoma, sans-serif
